.carsgrid {
    display: grid;
    gap: 16px;
    justify-content: center;
    .showcars {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
        padding: 15px;
        background: #FFFFFF;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }
}

@media (min-width: 767px) {
    .carsgrid {
        grid-template-columns: repeat(2, 360px);
        .showcars {
            grid-column: 1 / span 2;
        }
    }
}

@media(min-width:1199px){
    .carsgrid {
        grid-template-columns: repeat(3, 354px);
        row-gap: 14px;
        
    }   
}
