.banner {
    width: 100%;
    &__nav{
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 27px;
        &_item {
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            color: #111111;
            opacity: 0.5;
        }
    }
    &__text {
        &_title {
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            color: #000000;
            @media(min-width:1199px) {
                margin-top: 75px;
            }
            @media (min-width: 767px) {
                margin-top: 38px;
                line-height: 49px;
                margin-bottom: 16px;
            }
            @media(max-width:766px) {
                margin-bottom: 8px;
            }
        }
        &_info {
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: #111111;
        }
    }
    &__button {
        margin-top: 24px;
        background: #760135;
        &:hover {
            background: #6a0135;
        }
        cursor: pointer;
        border-radius: 8px;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        border: none;
        color: #FFFFFF;
        width: 231px;
        height: 48px;
    }
}

.initial-bg-desktop {
    background: url('../../resources/images/BG/Desktop-Tablet.png') no-repeat right;
    height: 380px;
    min-width: 1440px;
    padding: 20px 60px;
    @media (min-width:1440px) {
        background-position: right;
    }
}

.initial-bg-tablet {
    background: url('../../resources/images/BG/Desktop-Tablet.png') no-repeat;
    background-position: -200px -0px;
    padding: 20px 17px;
    min-height: 327px;
}

.initial-bg-mobile {
    background: url('../../resources/images/BG/Mobile.png') no-repeat 0 -20px;
    background-size: cover;
    min-height: 450px;
    background-position: center;
    padding: 20px 30px 20px 16px;
}

.second-bg-desktop {
    background: url('../../resources/images/BG/nature.jpeg') no-repeat;
    height: 380px;
    min-width: 1440px;
    background-size: cover;
    background-position: 0px -300px;
    padding: 20px 60px;
    @media (min-width:1440px) {
        background-position: 0 -500px;
    }
}

.second-bg-tablet {
    background: url('../../resources/images/BG/nature.jpeg') no-repeat;
    background-position: 0 -100px;
    padding: 20px 17px;
    background-size: cover;
    min-height: 327px;
}

.second-bg-mobile {
    background: url('../../resources/images/BG/nature.jpeg') no-repeat 0 -20px;
    background-size: cover;
    min-height: 450px;
    background-position: center;
    padding: 20px 30px 20px 16px;
}